<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="customAppSettingsGroup">
      <section name="WindowsUsers" type="System.Configuration.AppSettingsSection,System.Configuration,Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true"/>
  </runtime>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <appSettings>
    <add key="IsTesting" value="true"/>
    <add key="VerboseError" value="true"/>
    <add key="AppVersion" value="4"/>
    <add key="leadTimePwd" value="l34dt1m3"/>
    <add key="leadTimePwdLength" value="8"/>
    <add key="backoutPwd" value="f1nd0rd3r"/>
    <add key="backoutPwdLength" value="9"/>
    <add key="qsReplenishmentPwd" value="qsupd4t3"/>
    <add key="qsPwdLength" value="8"/>
    <add key="windowsUsersPwd" value="w1nd0w5u53r5"/>
    <add key="windowsUserPwdLength" value="12"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ReportCredentialsUserName" value="MILLMATS\sql_service"/>
    <add key="ReportCredentialsPassword" value="m1llm4ts!"/>
    <add key="dbUserName" value="sa"/>
    <add key="dbUserPassword" value="m1llm4ts!"/>
    <add key="LabelPrinter" value="ZDesigner LP 2844"/>
    <!--  <add key="PickTicketPrinter" value="HP Officejet 100 Mobile L411"/>-->
    <add key="PickTicketPrinter" value="Brother HL-L6200DW series"/>
    <add key="ShipLabelPrinter" value="Brother MFC-L5900DW series Printer"/>
    <add key="CustomerPackingSlips" value="\\fs10\public\MIL\Packing Slips\lib\"/>
    <add key="ImagePath" value="\\FS10\public\Marketing\Images\Flat\"/>
    <add key="WebImagePath" value="http://fs10/shared/Graphics/Fanmats%20Projects/Master%202000x2000%20White%20BG/"/>
    <add key="ShiprushSerialNumber" value="!lyNS0WrRYyMGHIWMtUMA5kxilp8qDu8nHMbSZLejL1nnsNxPHwi2Pk"/>
    <add key="TestShiprushSerialNumber" value="!lyNS0WrRYyMGHIWMtUMA5kxilp8qDu8nHMbSZLejL1nnsNxPHwi2Pk"/>
  </appSettings>
  <!-- WINDOWS LOGINS-->
  <customAppSettingsGroup>
    <WindowsUsers>
      <add key="KEITHB" value="VINYL"/>
      <add key="BAY MASTER" value="PRINTED"/>
      <add key="BAY MASTER 2" value="PRINTED"/>
      <add key="FM BAY 0" value="BAY0"/>
      <add key="FM BAY MASTER" value="PRINTED"/>
      <add key="FM BILL OF LADING" value="QS"/>
      <add key="FM INVENTORY CONTROL" value="PRINTED"/>
      <add key="FM LEAD" value="PRINTED"/>
      <add key="FM LEAD 2" value="PRINTED"/>
      <add key="FM PICK 5" value="PRINTED"/>
      <add key="FM PICK1" value="QS"/>
      <add key="FM PICK2" value="QS"/>
      <add key="FM PICK3" value="QS"/>
      <add key="FM PICK4" value="QS"/>
      <add key="FM PRODUCTION" value="QS"/>
      <add key="FM SHIP1" value="BAY0"/>
      <add key="FM SHIP2" value="BAY0"/>
      <add key="FM SHIP3" value="BAY0"/>
      <add key="FM SHIP4" value="BAY0"/>
      <add key="FM SHIP6" value="BAY0"/>
      <add key="FM SHIPPING" value="PRINTED"/>
      <add key="FM TRANSACTIONS" value="PRINTED"/>
      <add key="FM VINYL" value="VINYL"/>
      <add key="FM VINYL 3" value="VINYL"/>
      <add key="FMTEMP" value="QS"/>
      <add key="FMVINYL2" value="VINYL"/>
      <add key="FMWEB" value="PRINTED"/>
      <add key="QUICK SHIP" value="QS"/>
    </WindowsUsers>
  </customAppSettingsGroup>
  <connectionStrings>
    <add name="ShippingConnection" connectionString="SERVER=MMMACSQL01;DATABASE=FMShipping;UID=sa;pwd=m1llm4ts!"/>
    <add name="MacolaConnection" connectionString="SERVER=MMMACSQL01;DATABASE=Data_09;UID=sa;pwd=m1llm4ts!"/>
    <add name="DevShippingConnection" connectionString="SERVER=MMDEVMACSQL01;DATABASE=FMShipping;UID=sa;pwd=m1llm4ts!"/>
    <add name="DevMacolaConnection" connectionString="SERVER=MMDEVMACSQL01;DATABASE=Data_309;UID=sa;pwd=m1llm4ts!"/>
    <add name="SLSShippingAppConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=SLSShippingApp;Persist Security Info=True;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <add name="SLSShippingApp.Properties.Settings.SLSShippingAppConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=SLSShippingApp;Persist Security Info=True;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
